

h1 {
    font-family: cursive;
   
    color: crimson;
    

}


#timer {
    font-size: large;
    font-family: cursive;
    color: crimson;

}
.answer {
    color: rgb(49, 121, 56);

}

.question {
    color: rgb(98, 48, 131);
    height: 200;

}