

h1 {
    font-family: cursive;
   
    color: crimson;
    background-color: rgb(248, 203, 89);

}


#timer {
    font-size: large;
    font-family: cursive;
    color: crimson;

}
.answer {
    color: rgb(31, 59, 34);

}

.question {
    color: rgb(33, 16, 44);

}